{% extends 'base.html.twig' %}

{% block title %}Mes Applications{% endblock %}
{% block description %}
Découvrez les applications que j'ai développées, alliant performance,
design et innovation, pour répondre aux besoins uniques de chaque projet.
{% endblock %}

{% block body %}
  <section class="py-8">
    <div class="container">
      <div class="d-inline-block rounded-4 p-3 bg-primary text-primary display-5 mb-3" style="--bs-bg-opacity: 0.1">
        <twig:Icon name="rocket-launch" fixedWidth />
      </div>

      <h1 class="display-5 fw-semibold mb-3">{{ block('title') }}</h1>

      <div class="row">
        <div class="col-lg-6">
          <div class="ratio ratio-21x9">
            <div class="bg-banner border rounded-5 overflow-hidden d-flex flex-column p-3 text-light" style="
              --color: 37deg 37% 37%;
              --url: url('{{ asset('images/applications/genealogist-banner.png') }}');
            ">
              <div class="align-self-center my-auto" style="max-height: 10rem; height: auto; min-height: 3rem;">
                <img src="{{ asset('images/applications/genealogist.png') }}" alt="" style="height: 100%; width: auto;">
              </div>
              
              <div class="row g-1 align-items-end">
                <div class="col lh-1">
                  <h2 class="h5 fw-bold mb-0">Genealogist</h2>
                  <p class="mb-0 line-clamp overflow-hidden">
                    Renseignez votre généalogie sur une interface simple et intuitive, puis visualisez votre arbre simplement.
                  </p>
                </div>
                <div class="col-auto">
                  <a href="https://genealogist.d9beud.com" class="btn btn-light rounded-pill shadow-sm">Ouvrir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}