{% extends 'base.html.twig' %}

{% block title %}Mes Applications{% endblock %}
{% block description %}
Découvrez les applications que j'ai développées, alliant performance,
design et innovation, pour répondre aux besoins uniques de chaque projet.
{% endblock %}

{% block body %}
  <section class="py-8">
    <div class="container">
      <twig:IconSection variant="primary" icon="rocket-launch" />

      <h1 class="display-5 fw-semibold mb-3">{{ block('title') }}</h1>

      <div class="row g-3">
        <div class="col-lg-6">
          <twig:ApplicationPreview
            color="37deg 37% 37%"
            icon="{{ asset('images/applications/genealogist.png') }}"
            banner="{{ asset('images/applications/genealogist-banner.png') }}"
            title="Genealogist"
            href="https://genealogist.d9beud.com"
          >
            Renseignez votre généalogie sur une interface simple et intuitive, puis visualisez votre arbre simplement.
          </twig:ApplicationPreview>
        </div>
      </div>
    </div>
  </section>
{% endblock %}