@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";

:root {
  --d9-triangle-height: 1.5rem;
}

@include media-breakpoint-up(sm) {
  :root {
    --d9-triangle-height: 2rem;
  }
}

@include media-breakpoint-up(md) {
  :root {
    --d9-triangle-height: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  :root {
    --d9-triangle-height: 4rem;
  }
}

body {
  background-color: var(--bs-tertiary-bg);
}

.dropdown-toggle.show {
  outline: 0 !important;
}

.section {
  padding: $spacer * 4 0;

  &:nth-child(even) {
    background-color: var(--bs-secondary-bg);
    position: relative;
    margin-top: var(--d9-triangle-height);
    margin-bottom: var(--d9-triangle-height);

    &::before, &::after {
      content: "";
      position: absolute;
      height: 0;
    }

    &::before {
      top: calc(var(--d9-triangle-height) * -1);
      border-top: var(--d9-triangle-height) solid transparent;
      border-right: 100vw solid var(--bs-secondary-bg);
    }

    &:not(:last-of-type)::after {
      bottom: calc(var(--d9-triangle-height) * -1);
      border-bottom: var(--d9-triangle-height) solid transparent;
      border-left: 100vw solid var(--bs-secondary-bg);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:first-child {
    h1, p {
      margin-bottom: $spacer * 1.5;
    }
  }
}

@include media-breakpoint-up(md) {
  .position-md-sticky {
    position: sticky;
  }
}

.footer {
  padding: $spacer 0;
  border-top: $border-width solid var(--bs-border-color);
}

@import "history";
@import "navbar";