<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | Vincent BATHELIER</title>

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    {% block preloads %}
    {% endblock %}

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
      <link rel="stylesheet" href="{{ asset('fontawesome-kit/css/all.min.css') }}">
    {% endblock %}

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body class="bg-body">
    <twig:Navbar>
        <twig:block name="brand">
          d9beuD<small>.com</small>
        </twig:block>
        
        <twig:NavItem name="app_home_applications" checkPath="app_home_applications">Applications</twig:NavItem>
        <twig:NavItem href="#">Prestations</twig:NavItem>
        <twig:NavItem href="https://blog.d9beud.com">Blog</twig:NavItem>
    </twig:Navbar>

    <main>{% block body %}{% endblock %}</main>

    <footer class="mt-auto bg-body-tertiary border-top py-5">
      <div class="container">
        <p>
          Ce site a été développé par Vincent BATHELIER. Propulsé par Symfony.
        </p>

        <div class="row">
          <div class="col-auto">
            <ul class="list-unstyled">
              <li>
                <a class="link-body-emphasis" href="#">Applications</a>
              </li>
              <li>
                <a class="link-body-emphasis" href="#">Prestations</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
