<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
      <link rel="stylesheet" href="{{ asset('fontawesome-kit/css/all.min.css') }}">
    {% endblock %}

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body class="bg-body">
    <twig:Navbar>
        <twig:block name="brand">
          d9beuD<small class="text-secondary">.com</small>
        </twig:block>
        <twig:NavItem href="#">Applications</twig:NavItem>
        <twig:NavItem href="#">Prestations</twig:NavItem>
    </twig:Navbar>

    <main>{% block body %}{% endblock %}</main>
  </body>
</html>
